@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Alice';
  @apply text-lg sm:text-xl md:text-2xl;
}
.chatlist::-webkit-scrollbar {
  display: none;
}

.chatlist {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.messages {
  -ms-overflow-style: none;
  scrollbar-width: none;
  height: calc(100vh - 10.5rem);
}
.messages::-webkit-scrollbar {
  display: none;
}
.inputbox::-webkit-scrollbar {
  display: none;
}
.inputbox {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
