@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Alice';
  @apply text-lg sm:text-xl md:text-2xl
}

.header{
  height: 4rem;
}
.chatName{
  height: 4rem;  
}
.messages{
  height: 4rem;
  -ms-overflow-style: none;  
  scrollbar-width: none; 
  overflow: scroll; 
  height: calc(100vh - 10.5rem);
}
.messages::-webkit-scrollbar {
  display: none;
}
.inputMessages{
  display: flex;
  height: 2.5rem;
}